# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run

.barry-allen
mc_decomp
fabric/fabric_api_source
forge/mc_forge_decomp
